In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-16 20:24:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T202426Z&X-Amz-Expires=300&X-Amz-Signature=047456d89fa83acc86985e39621ed4fc540f54438ea3842f12ecab8f7de058d9&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-16 20:24:26--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T202426Z&X-Amz-Expires=300&X-Amz-Signature=047456d89fa83acc86985e39621ed4fc540f54438ea3842f12ecab8f7de058d9&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz’

green_tripdata_2019 100%[===================>]   7.88M  --.-KB/s    in 0.06s

2025-01-16 20:24:27 (140 MB/s) - ‘green_tripdata_2019-10.csv.gz’ saved [8262584/8262584]

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2025-01-16 20:24:36--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T202436Z&X-Amz-Expires=300&X-Amz-Signature=b7ba854816480d0f027c42ab35ee1637f9d7c067758c9a29802228de3b975809&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2025-01-16 20:24:36--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250116%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250116T202436Z&X-Amz-Expires=300&X-Amz-Signature=b7ba854816480d0f027c42ab35ee1637f9d7c067758c9a29802228de3b975809&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2025-01-16 20:24:37 (37.5 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [16]:
import pandas as pd

In [29]:
from time import time

In [17]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [35]:
df_iter = pd.read_csv("green_tripdata_2019-10.csv.gz",compression="gzip",iterator=True,chunksize=100000)

In [36]:
df = next(df_iter)

In [37]:
df.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.0,0.0,NaN,0.3,19.30,2,1.0,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.0,0.0,NaN,0.3,9.05,2,1.0,0.0

In [38]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [39]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [40]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

1000

In [41]:
while True: 

    try:
        t_start = time()
        
        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))

    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

inserted another chunk, took 13.534 second
inserted another chunk, took 13.236 second

/tmp/ipykernel_3851/313525667.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 13.875 second
inserted another chunk, took 8.667 second
Finished ingesting data into the postgres database

In [ ]:
#For zones

In [44]:
df_zones = pd.read_csv("taxi_zone_lookup.csv")

In [45]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [46]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265

--Question 3
SELECT
    COUNT(1) AS trip_count,
    CASE 
        WHEN gd.trip_distance <= 1 THEN '<=1'
        WHEN gd.trip_distance > 1 AND gd.trip_distance <= 3 THEN '1-3'
        WHEN gd.trip_distance > 3 AND gd.trip_distance <= 7 THEN '3-7'
        WHEN gd.trip_distance > 7 AND gd.trip_distance <= 10 THEN '7-10'
        ELSE '>10'
    END AS trip_distance_category
FROM green_taxi_data AS gd
WHERE
    DATE_TRUNC('day', gd.lpep_dropoff_datetime) >= '2019-10-01'
    AND DATE_TRUNC('day', gd.lpep_dropoff_datetime) < '2019-11-01' 
GROUP BY
    CASE 
        WHEN gd.trip_distance <= 1 THEN '<=1'
        WHEN gd.trip_distance > 1 AND gd.trip_distance <= 3 THEN '1-3'
        WHEN gd.trip_distance > 3 AND gd.trip_distance <= 7 THEN '3-7'
        WHEN gd.trip_distance > 7 AND gd.trip_distance <= 10 THEN '7-10'
        ELSE '>10'
    END

--Question 4

SELECT 
    DATE(gd.lpep_pickup_datetime) AS trip_date,
    MAX(gd.trip_distance) AS max_trip_distance
FROM green_taxi_data AS gd
WHERE DATE_TRUNC('year', gd.lpep_pickup_datetime) = DATE_TRUNC('year', TIMESTAMP '2019-01-01')
GROUP BY trip_date
ORDER BY max_trip_distance DESC;


--Question 5

SELECT
    SUM(gd."total_amount") AS Totals,
	zn."Zone"
FROM
    green_taxi_data AS gd
INNER JOIN
    zones AS zn ON gd."PULocationID" = zn."LocationID"
WHERE
	DATE_TRUNC('day',gd."lpep_pickup_datetime") = '2019-10-18'
GROUP BY 
	zn."Zone"
ORDER BY
	Totals DESC

--Question 6

SELECT
    MAX(gd."tip_amount") AS Totals,
    zn_do."Zone"
FROM
    green_taxi_data AS gd
INNER JOIN
    zones AS zn ON gd."PULocationID" = zn."LocationID"
INNER JOIN	
	zones as zn_do ON gd."DOLocationID" = zn_do."LocationID"
WHERE
    DATE_TRUNC('month', gd."lpep_pickup_datetime") = DATE '2019-10-01'
    AND zn."Zone" = 'East Harlem North'
GROUP BY 
    zn_do."Zone"
ORDER BY
	Totals DESC
LIMIT 1